  /* === Layout === */
header { 
   display:grid;
	grid-template-columns:repeat(3,1fr); /* three equal columns */
	align-items:center;
    justify-items: center;
}
img{
    height: 50px;
}

 #clothes { 
   display: flex; 
   grid-template-columns: 1fr 1fr 1fr 1fr; 
   justify-content: space-between;
   Flex-wrap: wrap;
   
}
#policies { 
   display: flex; 
   gap: 20px; 
}

 /* === Box Model === */
#splash{
    height:500px;
    align-content: center;
    padding-left: 150px;
}
#clothes-explore1{
    height:300px;
    width:300px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#clothes-explore2{
    height:300px;
    width:300px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#clothes-explore3{
    height:300px;
    width:300px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#clothes-explore4{
    height:300px;
    width:300px;
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#container{
    margin: auto;
    width: 1000px;
    padding: 300px;
    

}
#policies{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    margin-top: 10px;
}
h1 { 
   margin: 0px; 
   padding: 0px; 
}

/* === Backgrounds === */

#container{
    background-color: #e9e9e9;
}
#splash{
    background-image: url(frogHeader.jpg);
    background-size:cover;
}
#clothes-explore1{
    background-image: url(pikmin.jpg);
    background-size:cover;
}
#clothes-explore2{
    background-image: url(mametchi.jpg);
    background-size:cover;
}
#clothes-explore3{
    background-image: url(snorlax.jpg);
    background-size:cover;
}
#clothes-explore4{
    background-image: url(hangyodon.jpg);
    background-size:cover;
}


/* === Typography === */

 body {
    color: #3c3c3c;
    font-size: 10pt; 
    line-height: 14pt;
    font-family: "Arial", sans-serif;
 }
 nav{
    color: #3c3c3c;
    font-size: 12pt; 
    font-family: "Arial", sans-serif;
 }

 h2{
    font-size: 18.22pt;
 }
 a{
    color:#3c3c3c;
    text-decoration: none;
    padding-left: 25px;
 }
 #splash{
    color: white;
 }

 button{
    color:white;
    background-color: #3c3c3c;
    border-radius: 5px;
    border-color: white;
 }